<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/cheese">List</a>
    <a href="/cheese/add">Add</a>
    <a href="/cheese/delete">Delete</a>
</nav>

</body>
<div id="footer" th:fragment="footer">
    <img src="https://media.tenor.com/images/cf9d7781ebe3848af5dae871abe16d23/tenor.gif"/>
</div>
<div id="rightGif" th:fragment="rightGif">
    <img id="gif3" src="https://media3.giphy.com/media/CYXSszbrPlEgo/giphy.gif"/>
</div>
<div id="leftGif" th:fragment="leftGif">
    <img id="gif2" src="https://media1.giphy.com/media/jOuA5oDxeIWJi/giphy.gif"/>
</div>

</html>